.tielabs_mixcloud {
  /* border: #ccc 1px solid; */
  padding: 15px;
  background: rgb(30, 35, 55);
  border-radius: 10px;
  margin: 30px 0;
}

.tielabs_mixcloud_head {
  overflow: hidden;
}

.mixcloud_head_content {
  overflow: hidden;
}

.mixcloud_head_image {
  float: left;
  margin-right: 15px;
}

.rtl .mixcloud_head_image {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

.mixcloud_head_image img {
  border-radius: 10px;
  border: 2px solid #fff;
  max-width: 100%;
}

.mixcloud_head_content h3 {
  color: #fff;
  font-size: 22px;
  margin: 0 0 10px 0;
}

.mixcloud_head_content h4 {
  color: #d2d2d2;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.mixcloud_head_content h5 {
  color: #d2d2d2;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.tielabs_mixcloud_main {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
}

.tielabs_mixcloud_main p {
  margin: 0;
}

.Follow_link {
  background: rgb(243, 178, 166);
  white-space: nowrap;
  color: rgb(30, 35, 55);
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 10px;
  display: inline-block;
}

.Follow_link:hover {
  background-color: rgb(237, 139, 121);
  border-color: rgb(237, 139, 121);
  color: rgb(12, 14, 22);
}

@media only screen and (min-width: 1024px) {
  .widget_tielabs-mixcloud-widget .mixcloud_head_image {
    width: 70px;
  }

  .widget_tielabs-mixcloud-widget .mixcloud_head_content h3 {
    font-size: 20px;
  }

  .widget_tielabs-mixcloud-widget .mixcloud_head_content h4 {
    font-size: 14px;
  }

  .widget_tielabs-mixcloud-widget .mixcloud_head_content h5 {
    font-size: 14px;
  }
}

/*  Phone  : 767px   ----   */
@media only screen and (max-width: 767px) {
  .Follow_link {
    display: block;
    text-align: center;
  }
}

/*  Phone  : 480px   ----   */
@media only screen and (max-width: 767px) and (min-width: 480px) {}

/* Phone  : 320px */
@media only screen and (max-width: 479px) {}
